<ion-modal-view style="bottom: 0; min-height: initial;top: initial;height: 40%;">

  <ion-header-bar class="bar bar-header bar-royal">
    <h1 class="title mFont0" style="font-size:1.1em;font-weight:400;">Sort By </h1>
    <button class="button button-clear " ng-click="closeSortModal()" style="font-size:1.1em;font-weight:700;">Apply</button>
  </ion-header-bar>

  <ion-content class="light-bg">

    <ion-list>

      <ion-radio  ng-model="sortBy.value" ng-value="'itemSubCategory'">Subcategory</ion-radio>
      <ion-radio  ng-model="sortBy.value" ng-value="'-orders'">Most Ordered</ion-radio>
      <ion-radio  ng-model="sortBy.value" ng-value="'itemPrice'">Lowest price to Highest price</ion-radio>
      <ion-radio  ng-model="sortBy.value" ng-value="'-itemPrice'">Highest price to Lowest price</ion-radio>

    </ion-list>
  </ion-content>

</ion-modal-view>
